
/* ----------------navbar--------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav {
  height: 50px;
  width: 100%;
  background: rgb(45,45,45);
  position: relative;
  z-index: 11;
}

.nav .nav-header {
  display: inline;
}

.nav .nav-header  .nav-title {
  display: inline-block;
  font-size: 22px;
  color: rgb(155,155,155);
  padding: 10px 10px 10px 10px;
}

.nav  .nav-btn {
  display: none;
}

.nav  .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav  .nav-links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: rgb(155,155,155);
}

.nav .nav-links a:hover {
  color: #4FC3F7;
}

.nav  #nav-check {
  display: none;
}

@media (max-width:863px) {
  .nav  .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav .nav-btn  label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav  .nav-btn  label:hover,.nav  #nav-check:checked ~ .nav-btn label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav  .nav-btn  label  span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav  .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav  .nav-links a {
    display: block;
    width: 100%;
  }
  .nav  #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav  #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}



/* -------------------------------------------------------------------- */

.carousel {
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.carousel-item img{
  opacity: 0.8;
}

/* Optional: Style for navigation buttons */
.carousel-prev,
.carousel-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background-color: #333;
  border: none;
  padding: 10px;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}


/* -------------------card----------------------------- */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: "Roboto", sans-serif;
}

.card {
  width: 18rem;
  height: 24rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: black;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  margin: 15px;
}

.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
}

.card h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.card p,
.card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}

.card p {
  inset: auto auto 80px 30px;
}

.card a {
  inset: auto auto 40px 30px;
  color: black;
  text-decoration: none;
}

.card:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
}

.card:hover p,
.card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}

.card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 0.5;
}

.material-symbols-outlined {
  vertical-align: middle;
}

/* ----------------------event card-------------------------------- */

.collectionitemmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 450px;
  margin: 10px;
}
.collectionitem {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 7px 4px rgb(122, 121, 121);
}
.collectionitem-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: all 1s;
}
.collectionitem:hover .collectionitem-background {
  opacity: 0.6;
}
.collectionitem .collectionitem-form {
  position: absolute;
  width: 13vw;
  height: 6vh;
  top: 110%;
  cursor: pointer;
  transition: all 0.7s;
}
.collectionitem .collectionitem-button {
  border: 2px solid black;
  border-radius: 5px;
  font-weight: 600;
  height: 100%;
  width: 100%;
}
.collectionitem:hover .collectionitem-form {
  display: flex;
  top: 80%;
  align-items: center;
  justify-content: center;
}
.collectionitem-button:hover {
  background-color:  rgb(68,68,66);
  color: white;
  cursor: pointer;
}
.collectionitemmain .collectionitem-discription {
  margin-top: 10px;
  width: 260px;
}

/* --------------------------------------------------------- */

#eventmain{
  width: 100vw;
  display: flex;
  justify-content: center;
}
#events {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  background-color: rgb(68,68,66);
}

#events-main {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin: 10px; */
  background-color: rgb(68,68,66);
}

/* ---------------------------------------footer--------------------------------------- */
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
  }

  .footer {
      background-color: #333;
      color: rgb(155,155,155);
      padding: 20px;
      text-align: center;
  }

  .footer a {
    color: rgb(155,155,155);
      text-decoration: none;
      margin: 0 15px;
  }

  .footer a:hover {
      text-decoration: underline;
  }

  .social-icons {
      margin-top: 10px;
  }

  .social-icons a {
      display: inline-block;
      margin: 0 10px;
      color: rgb(155,155,155);
      font-size: 18px;
  }

  .social-icons a:hover{
    color: #4FC3F7;
  }
  .footer a:hover{
    color: #4FC3F7;
  }